# Based on openshift/release baremetalds-devscripts-proxy:
# https://github.com/openshift/release/blob/5664a0bdb7ac/ci-operator/step-registry/baremetalds/devscripts/proxy/baremetalds-devscripts-proxy-commands.sh#L80-L89
export HTTPS_PROXY=http://${REMOTE_HOST}:${PROXY_PORT}/
export NO_PROXY="static.redhat.com,redhat.io,quay.io,openshift.org,openshift.com,svc,amazonaws.com,r2.cloudflarestorage.com,github.com,githubusercontent.com,google.com,googleapis.com,fedoraproject.org,cloudfront.net,workers.dev,localhost,127.0.0.1"
export https_proxy=http://${REMOTE_HOST}:${PROXY_PORT}/
export no_proxy="static.redhat.com,redhat.io,quay.io,openshift.org,openshift.com,svc,amazonaws.com,r2.cloudflarestorage.com,github.com,githubusercontent.com,google.com,googleapis.com,fedoraproject.org,cloudfront.net,workers.dev,localhost,127.0.0.1"
